workflows/export-latest-news-fixed.json
{
  "name": "Export Latest News to JSON",
  "description": "Daily export of top articles from canonical_articles to latest.json for qa-news",
  "nodes": [
    {
      "parameters": {
        "mode": "cronExpression",
        "cronExpression": "5 8 * * *"
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -400,
        0
      ],
      "id": "be35072c-5004-4fbd-9b35-03b522f16b79",
      "name": "Daily Schedule (08:05 UTC)",
      "note": "Runs at 08:05 UTC daily (after M3 Daily Brief completes at 08:00)"
    },
    {
      "parameters": {
        "resource": "data",
        "operation": "executeQuery",
        "dataTableId": {
          "__rl": true,
          "value": "550e8400-e29b-41d4-a716-446655440001",
          "mode": "list",
          "cachedResultName": "canonical_articles"
        },
        "query": "SELECT * FROM data_table_row WHERE dataTableId = '550e8400-e29b-41d4-a716-446655440001' AND (jsonData->>'score')::INTEGER >= 50 ORDER BY (jsonData->>'publishedAt') DESC LIMIT 100"
      },
      "type": "n8n-nodes-base.data",
      "typeVersion": 3.1,
      "position": [
        -200,
        0
      ],
      "id": "cd060070-412d-496f-83e5-39e690e4f110",
      "name": "Query: Top Articles (score >= 50)"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extract article data from database row\nconst row = $json.json || $json;\nconst article = row.jsonData || row;\n\n// Parse tags if string\nconst tags = typeof article.tags === 'string' \n  ? article.tags.split(',').map(t => t.trim()).filter(t => t)\n  : (Array.isArray(article.tags) ? article.tags : []);\n\nreturn {\n  json: {\n    id: article.id,\n    title: article.title,\n    summary: article.summary,\n    url: article.url,\n    source: article.source,\n    category: article.category || 'qa-practice',\n    publishedAt: article.publishedAt,\n    tags: tags\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "e6e5a9bb-4925-423b-a7f4-f26ff22b5fe0",
      "name": "Transform to Export Schema"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Collect all articles into array\nconst articles = $input.all().map(item => item.json);\n\n// Create export object with metadata\nconst today = new Date();\nconst dateStr = today.toISOString().split('T')[0];\nconst updatedAt = today.toISOString();\n\nreturn [{\n  json: {\n    date: dateStr,\n    updatedAt: updatedAt,\n    articles: articles\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ],
      "id": "06e1ad6a-be1d-4f22-be03-1d9cea7ea6c9",
      "name": "Build Export Object"
    },
    {
      "parameters": {
        "operation": "toJSON",
        "sourceProperty": "json",
        "indent": 2,
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        400,
        0
      ],
      "id": "6f816d59-0651-42df-8569-167dc94bb2a6",
      "name": "Convert to JSON String"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $env.EXPORT_FILE_PATH || '/app/latest.json' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        600,
        0
      ],
      "id": "9058cf06-f621-4b4f-8708-ce4c47aa5346",
      "name": "Write latest.json (parameterized path)"
    },
    {
      "parameters": {
        "commands": "cd {{ $env.PAIOS_REPO_PATH || '/qa-news' }} && git add public/latest.json && git commit -m 'chore(data): export latest articles [skip ci]' || echo 'No changes to commit'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        800,
        0
      ],
      "id": "8c340fe8-3470-460f-bb81-2e73fe016b34",
      "name": "Git Commit Export",
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Log export completion\nconst itemCount = $input.all().length;\nconst exportPath = process.env.EXPORT_FILE_PATH || '/app/latest.json';\n\nreturn [{\n  json: {\n    status: 'export_complete',\n    timestamp: new Date().toISOString(),\n    articlesExported: itemCount,\n    file: exportPath\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        0
      ],
      "id": "fe308349-0a38-4b9e-bf0d-fb67672d4267",
      "name": "Log Export Complete"
    }
  ],
  "connections": {
    "Daily Schedule (08:05 UTC)": {
      "main": [
        [
          {
            "node": "Query: Top Articles (score >= 50)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query: Top Articles (score >= 50)": {
      "main": [
        [
          {
            "node": "Transform to Export Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform to Export Schema": {
      "main": [
        [
          {
            "node": "Build Export Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Export Object": {
      "main": [
        [
          {
            "node": "Convert to JSON String",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to JSON String": {
      "main": [
        [
          {
            "node": "Write latest.json (parameterized path)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write latest.json (parameterized path)": {
      "main": [
        [
          {
            "node": "Git Commit Export",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git Commit Export": {
      "main": [
        [
          {
            "node": "Log Export Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "tags": [],
  "pinned": false,
  "triggerCount": 0,
  "versionId": "48334b6d-358b-46fa-a174-dc5acec20623",
  "id": "b5356a1328a048a2b425"
}