workflows/test-canonical-articles-insert.json
{
  "id": "550e8400-e29b-41d4-a716-446655440200",
  "name": "Test: Insert Sample Article into canonical_articles",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id",
              "value": "test-article-001"
            },
            {
              "name": "title",
              "value": "How to Write Better Tests for Your CI/CD Pipeline"
            },
            {
              "name": "summary",
              "value": "A comprehensive guide to testing practices in continuous integration. Covers unit tests, integration tests, and end-to-end testing strategies for modern CI/CD pipelines."
            },
            {
              "name": "url",
              "value": "https://dev.to/example/how-to-write-better-tests"
            },
            {
              "name": "source",
              "value": "Dev.to"
            },
            {
              "name": "category",
              "value": "test-automation"
            },
            {
              "name": "publishedAt",
              "value": "2024-07-12T14:30:00Z"
            },
            {
              "name": "tags",
              "value": "Python,Testing,CI/CD,GitHub Actions"
            },
            {
              "name": "addedAt",
              "value": "2024-07-13T12:00:00Z"
            },
            {
              "name": "score",
              "value": "87"
            },
            {
              "name": "seenCount",
              "value": "1"
            },
            {
              "name": "dedupKey",
              "value": "Dev.to|how-to-write-better-tests-for-your-ci-cd-pipeline"
            }
          ]
        }
      },
      "id": "set-article-data",
      "name": "Set Article Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "mode": "upsert",
        "dataTableName": "canonical_articles",
        "columns": {
          "mappings": [
            {
              "columnName": "id",
              "value": "={{$json.id}}"
            },
            {
              "columnName": "title",
              "value": "={{$json.title}}"
            },
            {
              "columnName": "summary",
              "value": "={{$json.summary}}"
            },
            {
              "columnName": "url",
              "value": "={{$json.url}}"
            },
            {
              "columnName": "source",
              "value": "={{$json.source}}"
            },
            {
              "columnName": "category",
              "value": "={{$json.category}}"
            },
            {
              "columnName": "publishedAt",
              "value": "={{$json.publishedAt}}"
            },
            {
              "columnName": "tags",
              "value": "={{$json.tags}}"
            },
            {
              "columnName": "addedAt",
              "value": "={{$json.addedAt}}"
            },
            {
              "columnName": "score",
              "value": "={{$json.score}}"
            },
            {
              "columnName": "seenCount",
              "value": "={{$json.seenCount}}"
            },
            {
              "columnName": "dedupKey",
              "value": "={{$json.dedupKey}}"
            }
          ]
        }
      },
      "id": "upsert-to-canonical-articles",
      "name": "Upsert to canonical_articles",
      "type": "n8n-nodes-base.dataDb",
      "typeVersion": 1,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "dataTableName": "canonical_articles",
        "limit": 10,
        "sortBy": "addedAt",
        "sortOrder": "desc"
      },
      "id": "verify-insert",
      "name": "Verify Insert (Last 10 Articles)",
      "type": "n8n-nodes-base.dataDb",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Article Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Article Data": {
      "main": [
        [
          {
            "node": "Upsert to canonical_articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert to canonical_articles": {
      "main": [
        [
          {
            "node": "Verify Insert (Last 10 Articles)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "active": false
}
